<!-- <table>
        <tr valign="top">
                <td><img src="{{ post.author.avatar(36) }}" alt=""></td>
                <td>
                        <a href="{{ url_for('user', username=post.author.username) }}">
                                {{ post.author.username.title() }} 
                        </a>
                        says: <br>{{ post.body }}
                </td>
        </tr>
</table> -->

<div class="post-item">
        <div class="post-header">
            <img src="{{ post.author.avatar(36) }}" alt="{{ post.author.username }}" class="post-avatar">
            <div class="post-author-info">
                {% set user_link %}
                <a href="{{ url_for('user', username=post.author.username) }}" class="post-author-name">
                    {{ post.author.username.title() }}
                </a>
                {% endset %}
                <span class="post-timestamp">{{ _('%(username)s said %(when)s', username=user_link,  when=moment(post.timestamp).fromNow()) }}</span>
                <!-- <span class="post-timestamp">{{ moment(post.timestamp).fromNow() }}</span> -->
            </div>
        </div>

        
        <div class="post-body">
            {{ post.body }}
        </div>
        
        <div class="post-footer">
            <div class="post-actions">
                <button class="post-action-btn">
                    <i class="bi bi-heart"></i> Like
                </button>
                <button class="post-action-btn">
                    <i class="bi bi-chat"></i> Comment
                </button>
                <button class="post-action-btn">
                    <i class="bi bi-share"></i> Share
                </button>
            </div>
        </div>
    </div>